.game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
}

.modal-header {
  background-color: rgba(24, 57, 148, 0.904);
}

.game-container {
  background-color: green;
  padding: 10px 30px;
}