body {
  text-align: center;
  background-image: url("/images/gradientbackground.png");
  background-size: cover;
}

.jumbotron {
  max-height: 400px;
  padding-top: 0;
  padding-bottom: 0;
}

.gameboard {
  display: block;
  margin: 0 auto;
  background-color: green;
}
